.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-name {
  font-size: 0.7rem;
}

.material-symbols-outlined,
.icon-name,
.icon-container {
  color: darkgray;
  text-decoration: none !important;
}

.active span {
  color: darkslategray;
}
