.input-text {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  
  font-size: 1rem;
  
  background-color: var(--surface-1);
  color: var(--text-primary);

  border: 1px solid var(--border);
  border-radius: 8px;
  
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-text::placeholder {
  color: var(--text-secondary);
}

.input-text:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
