.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;

  background-color: var(--surface-1);
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
}
