.footer {
  /*background-color: red;*/
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  border-top: 1px solid darkgray;

  display: flex;
  justify-content: space-between;
  background-color: white;
}
