.result-card {
  display: flex;
  align-items: center;
  
  padding: 1rem;
  margin-bottom: 0.75rem;

  background-color: var(--surface-1);
  border-radius: 12px;
  border: 1px solid var(--border);
}

.icon {
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.icon::after {
  content: '$';
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 3.5rem;
  height: 3.5rem;
  
  font-size: 1.5rem;
  font-weight: 700;
  
  background-color: var(--surface-2);
  color: var(--primary);
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  color: var(--text-primary);
}

.text-container strong {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-primary);
}

.text-container small {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-secondary);
}
